.gradle
.settings
.idea
**/*.iml
Dotify/.gradle
Dotify/ant-build/output
DotifyDevtools/ant-build/output
DotifyDevtools/bin_test
DotifyShared/dotify-translator.jar
DotifyTranslator/ant-build/output
dotify.api/ant-build/output