Dotify/ant-build/output
Dotify/bin
DotifyFormatter/Dotify/ant-build/output
DotifyFormatter/Dotify/bin
DotifyFormatter/DotifyTranslator/ant-build/output
DotifyFormatter/DotifyTranslator/bin
DotifyTranslator/ant-build/output
DotifyTranslator/bin
