* text=auto !eol
Dotify/.classpath -text svneol=unset#text/plain
Dotify/.project -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/exclude/exclude-basic-table.rng -text
Dotify/ant-build/resources/dtd/xhtml10/exclude/exclude-basic.rng -text
Dotify/ant-build/resources/dtd/xhtml10/exclude/exclude-form.rng -text
Dotify/ant-build/resources/dtd/xhtml10/index.html -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/modules/applet.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/attribs.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/base.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/basic-form.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/basic-table.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/bdo.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/csismap.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/datatypes-xhtml.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/edit.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/events.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/form.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/frames.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/hypertext.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/iframe.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/image.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/inlstyle.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/legacy.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/link.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/list.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/meta.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/nameident.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/object.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/param.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/pres.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/ruby.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/script.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/ssismap.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/struct.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/style.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/table.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/target.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/text.rng -text
Dotify/ant-build/resources/dtd/xhtml10/xhtml-basic.rng -text
Dotify/ant-build/resources/dtd/xhtml10/xhtml-lat1.ent -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml-special.ent -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml-strict.rng -text
Dotify/ant-build/resources/dtd/xhtml10/xhtml-symbol.ent -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml.rng -text
Dotify/ant-build/resources/dtd/xhtml10/xhtml1-strict.dtd -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml1-transitional-bodyref.dtd -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml1-transitional.dtd -text svneol=unset#text/plain
Dotify/ant-build/resources/javase-6/package-list -text
Dotify/build-doc.xml -text svneol=unset#text/plain
Dotify/build-xslt-doc.xsl -text svneol=unset#text/plain
Dotify/build.xml -text svneol=unset#text/plain
Dotify/lib/icu4j-3_8.jar -text
Dotify/lib/junit-4.7.jar -text
Dotify/lib/onvdl.jar -text
Dotify/lib/org.daisy.util.jar -text
Dotify/lib/saxon.jar -text
Dotify/lib/saxon8-dom.jar -text
Dotify/lib/saxon8.jar -text
Dotify/lib/stax-api-1.0.1.jar -text
Dotify/lib/wstx-lgpl-3.2.8.jar -text
Dotify/lib/xercesImpl.jar -text
Dotify/run-tests.xml -text svneol=unset#text/plain
Dotify/src/META-INF/services/javax.xml.transform.TransformerFactory -text
Dotify/src/META-INF/services/javax.xml.validation.SchemaFactory -text
Dotify/src/org/daisy/dotify/Main.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/SystemKeys.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/SystemProperties.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/ConfigUrlLocator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/TaskSystemFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/TaskSystemFactoryException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/CommonResourceLocator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/preprocessing/flow-whitespace-normalizer.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/renderers/braille-finalizer.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/renderers/meta-finalizer.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/splitters/simple-splitter.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/validation/flow.xsd -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/en_US/DefaultTextSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/en_US/doc-files/DefaultTextSystem.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/en_US/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/SwedishBrailleSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/SwedishTextSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/config/A4_full_width.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/config/FA44_full_width.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/config/default_A4.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/config/default_FA44.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/config/text_A4.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/doc-files/SwedishBrailleSystem.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/doc-files/SwedishTextSystem.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/tasks/SwedishVolumeCoverPage.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/AbstractResourceLocator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/InternalTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/InternalTaskException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/ResourceLocator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/ResourceLocatorException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/RunParameters.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/TaskSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/TaskSystemException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/InputManagerTaskSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/InputManagerTaskSystemFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/common/config/pef/flow.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/common/config/pef/xml.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/common/config/text/xml.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/common/definers/dtbook2flow.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/common/definers/xml2flow.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/common/validation/flow.xsd -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/en_US/config/text.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/en_US/config/text/dtbook.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/sv_SE/config/pef/dtbook.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/sv_SE/config/text/dtbook.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/sv_SE/definers/dtbook2flow_sv_SE.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/sv_SE/definers/dtbook2flow_sv_SE_braille.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/sv_SE/definers/dtbook2flow_sv_SE_text.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/input/sv_SE/validation/basic.sch -text
Dotify/src/org/daisy/dotify/system/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/DebugTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/LayoutEngineTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/TextNodeTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/ValidatorTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/VolumeCoverPageTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/XsltTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/cover/StaticVolumeCoverPage.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/cover/VolumeCoverPage.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/cover/VolumeCoverPageFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/BlockPosition.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/BlockProperties.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/Flow.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/LayoutException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/Leader.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/Marker.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/Position.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/Row.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/SequenceProperties.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/SpanProperties.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/flow/flow.dtd -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/ConfigurableLayoutMaster.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/DefaultLayoutPerformer.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/FlowGroup.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/FlowHandler.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/FlowSequence.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/FlowStruct.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/Page.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/PageSequence.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/PaginatorImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/SimpleTemplate.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/field/CompoundField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/field/CurrentPageField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/field/MarkerReferenceField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/field/NumeralField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/field/PagenumField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/impl/field/RomanNumeral.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/page/CurrentPageInfo.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/page/LayoutMaster.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/page/PagedMediaWriter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/page/PagedMediaWriterException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/page/Paginator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/page/SectionProperties.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/page/Template.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/CaseFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/CharFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/CombinationFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/FilterFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/FilterLocale.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/RegexFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/StringFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/brailleFilters/BrailleFilterFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/brailleFilters/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/brailleFilters/sv_SE/CapitalizationMarkers.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/brailleFilters/sv_SE/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/brailleFilters/sv_SE/sv_SE-pas1.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/brailleFilters/sv_SE/sv_SE-pas2.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/text/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/utils/BlockHandler.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/utils/BreakPoint.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/utils/BreakPointHandler.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/utils/Expression.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/utils/LayoutTools.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/utils/LayoutToolsException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/utils/TabStopString.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/utils/TextBorder.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/writers/PEFMediaWriter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/writers/TextMediaWriter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/layout/writers/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tasks/textnode/TextNodeFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tools/Progress.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tools/SchematronRulesGenerator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tools/SplitResult.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tools/StateObject.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tools/StaxFilter2.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tools/StringSplitter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/tools/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/xslt/default_renderer.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/xslt/pef2xhtml.xsl -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/system/tasks/layout/flow/PositionTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/system/tasks/layout/text/brailleFilters/BrailleFilterFactoryTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/system/tasks/layout/utils/ExpressionTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/system/tools/StateObjectTest.java -text svneol=unset#text/plain
