* text=auto !eol
Dotify/.classpath -text svneol=unset#text/plain
Dotify/.project -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/exclude/exclude-basic-table.rng -text
Dotify/ant-build/resources/dtd/xhtml10/exclude/exclude-basic.rng -text
Dotify/ant-build/resources/dtd/xhtml10/exclude/exclude-form.rng -text
Dotify/ant-build/resources/dtd/xhtml10/index.html -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/modules/applet.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/attribs.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/base.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/basic-form.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/basic-table.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/bdo.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/csismap.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/datatypes-xhtml.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/edit.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/events.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/form.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/frames.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/hypertext.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/iframe.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/image.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/inlstyle.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/legacy.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/link.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/list.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/meta.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/nameident.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/object.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/param.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/pres.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/ruby.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/script.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/ssismap.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/struct.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/style.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/table.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/target.rng -text
Dotify/ant-build/resources/dtd/xhtml10/modules/text.rng -text
Dotify/ant-build/resources/dtd/xhtml10/xhtml-basic.rng -text
Dotify/ant-build/resources/dtd/xhtml10/xhtml-lat1.ent -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml-special.ent -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml-strict.rng -text
Dotify/ant-build/resources/dtd/xhtml10/xhtml-symbol.ent -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml.rng -text
Dotify/ant-build/resources/dtd/xhtml10/xhtml1-strict.dtd -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml1-transitional-bodyref.dtd -text svneol=unset#text/plain
Dotify/ant-build/resources/dtd/xhtml10/xhtml1-transitional.dtd -text svneol=unset#text/plain
Dotify/ant-build/resources/javase-6/package-list -text
Dotify/build-doc.xml -text svneol=unset#text/plain
Dotify/build-properties.xml -text
Dotify/build-xslt-doc.xsl -text svneol=unset#text/plain
Dotify/build.xml -text svneol=unset#text/plain
Dotify/lib/icu4j-3_8.jar -text
Dotify/lib/junit-4.7.jar -text
Dotify/lib/onvdl.jar -text
Dotify/lib/org.daisy.util.jar -text
Dotify/lib/saxon.jar -text
Dotify/lib/saxon8-dom.jar -text
Dotify/lib/saxon8.jar -text
Dotify/lib/stax-api-1.0.1.jar -text
Dotify/lib/texhyphj.jar -text
Dotify/lib/wstx-lgpl-3.2.8.jar -text
Dotify/lib/xercesImpl.jar -text
Dotify/logging.properties -text svneol=unset#text/plain
Dotify/run-tests.xml -text svneol=unset#text/plain
Dotify/src/META-INF/services/javax.xml.transform.TransformerFactory -text
Dotify/src/META-INF/services/javax.xml.validation.SchemaFactory -text
Dotify/src/META-INF/services/org.daisy.dotify.formatter.Formatter -text
Dotify/src/META-INF/services/org.daisy.dotify.formatter.Paginator -text
Dotify/src/META-INF/services/org.daisy.dotify.formatter.VolumeSplitter -text
Dotify/src/META-INF/services/org.daisy.dotify.hyphenator.HyphenatorFactory -text
Dotify/src/META-INF/services/org.daisy.dotify.system.InputManagerFactory -text
Dotify/src/META-INF/services/org.daisy.dotify.system.TaskSystemFactory -text
Dotify/src/META-INF/services/org.daisy.dotify.translator.BrailleFilter -text
Dotify/src/org/daisy/braille/ui/AbstractUI.java -text
Dotify/src/org/daisy/dotify/Main.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/SystemKeys.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/SystemProperties.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/Formatter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/FormatterException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/FormatterFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/PagedMediaWriter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/PagedMediaWriterException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/Paginator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/PaginatorFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/PaginatorHandler.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/VolumeSplitter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/VolumeSplitterFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/WriterHandler.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/core/BlockEventHandler.java -text
Dotify/src/org/daisy/dotify/formatter/core/BlockEventImpl.java -text
Dotify/src/org/daisy/dotify/formatter/core/BlockPosition.java -text
Dotify/src/org/daisy/dotify/formatter/core/BlockSequenceManipulator.java -text
Dotify/src/org/daisy/dotify/formatter/core/BookStructImpl.java -text
Dotify/src/org/daisy/dotify/formatter/core/CompoundField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/core/ConditionalEvents.java -text
Dotify/src/org/daisy/dotify/formatter/core/CurrentPageField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/core/Evaluate.java -text
Dotify/src/org/daisy/dotify/formatter/core/LayoutMasterImpl.java -text
Dotify/src/org/daisy/dotify/formatter/core/LineBreak.java -text
Dotify/src/org/daisy/dotify/formatter/core/MarkerReferenceField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/core/NumeralField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/core/ObflParser.java -text
Dotify/src/org/daisy/dotify/formatter/core/PageNumberReference.java -text
Dotify/src/org/daisy/dotify/formatter/core/PageTemplateImpl.java -text
Dotify/src/org/daisy/dotify/formatter/core/PagenumField.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/core/RomanNumeral.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/core/SequenceEventImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/core/TableOfContents.java -text
Dotify/src/org/daisy/dotify/formatter/core/TextContents.java -text
Dotify/src/org/daisy/dotify/formatter/core/TocEventImpl.java -text
Dotify/src/org/daisy/dotify/formatter/core/TocSequenceEventImpl.java -text
Dotify/src/org/daisy/dotify/formatter/core/VolumeTemplateImpl.java -text
Dotify/src/org/daisy/dotify/formatter/dom/Block.java -text
Dotify/src/org/daisy/dotify/formatter/dom/BlockContents.java -text
Dotify/src/org/daisy/dotify/formatter/dom/BlockEvent.java -text
Dotify/src/org/daisy/dotify/formatter/dom/BlockProperties.java -text
Dotify/src/org/daisy/dotify/formatter/dom/BlockSequence.java -text
Dotify/src/org/daisy/dotify/formatter/dom/BlockStruct.java -text
Dotify/src/org/daisy/dotify/formatter/dom/BookStruct.java -text
Dotify/src/org/daisy/dotify/formatter/dom/CrossReferences.java -text
Dotify/src/org/daisy/dotify/formatter/dom/EventContents.java -text
Dotify/src/org/daisy/dotify/formatter/dom/FormattingTypes.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/dom/LayoutMaster.java -text
Dotify/src/org/daisy/dotify/formatter/dom/Leader.java -text
Dotify/src/org/daisy/dotify/formatter/dom/Marker.java -text
Dotify/src/org/daisy/dotify/formatter/dom/Page.java -text
Dotify/src/org/daisy/dotify/formatter/dom/PageInfo.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/dom/PageSequence.java -text
Dotify/src/org/daisy/dotify/formatter/dom/PageStruct.java -text
Dotify/src/org/daisy/dotify/formatter/dom/PageTemplate.java -text
Dotify/src/org/daisy/dotify/formatter/dom/Row.java -text
Dotify/src/org/daisy/dotify/formatter/dom/SectionProperties.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/dom/Sequence.java -text
Dotify/src/org/daisy/dotify/formatter/dom/SequenceEvent.java -text
Dotify/src/org/daisy/dotify/formatter/dom/SequenceProperties.java -text
Dotify/src/org/daisy/dotify/formatter/dom/SpanProperties.java -text
Dotify/src/org/daisy/dotify/formatter/dom/TocEvent.java -text
Dotify/src/org/daisy/dotify/formatter/dom/TocEvents.java -text
Dotify/src/org/daisy/dotify/formatter/dom/TocSequenceEvent.java -text
Dotify/src/org/daisy/dotify/formatter/dom/Volume.java -text
Dotify/src/org/daisy/dotify/formatter/dom/VolumeSequenceEvent.java -text
Dotify/src/org/daisy/dotify/formatter/dom/VolumeStruct.java -text
Dotify/src/org/daisy/dotify/formatter/dom/VolumeTemplate.java -text
Dotify/src/org/daisy/dotify/formatter/dom/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/flow.dtd -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/BlockImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/BlockSequenceImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/BlockStructImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/EvenSizeVolumeSplitter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/EvenSizeVolumeSplitterCalculator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/EvenSizeVolumeStructImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/FormatterImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/PageCopy.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/PageImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/PageSequenceCopy.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/PageSequenceImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/PageStructCopy.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/PageStructImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/PaginatorImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/VolumeImpl.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/impl/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/BlockHandler.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/BreakPoint.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/BreakPointHandler.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/Expression.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/LayoutTools.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/LayoutToolsException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/PageTools.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/Position.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/TabStopString.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/utils/TextBorder.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/writers/PEFMediaWriter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/writers/TextMediaWriter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/formatter/writers/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/hyphenator/AbstractHyphenator.java -text
Dotify/src/org/daisy/dotify/hyphenator/HyphenatorFactory.java -text
Dotify/src/org/daisy/dotify/hyphenator/HyphenatorFactoryMaker.java -text
Dotify/src/org/daisy/dotify/hyphenator/HyphenatorInterface.java -text
Dotify/src/org/daisy/dotify/hyphenator/UnsupportedLocaleException.java -text
Dotify/src/org/daisy/dotify/hyphenator/latex/HyphenatorErrorHandler.java -text
Dotify/src/org/daisy/dotify/hyphenator/latex/LatexHyphenator.java -text
Dotify/src/org/daisy/dotify/hyphenator/latex/LatexHyphenatorCore.java -text
Dotify/src/org/daisy/dotify/hyphenator/latex/LatexHyphenatorFactory.java -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/LatexRulesLocator.java -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/dehyph_x.tex -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/fihyph.tex -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/frhyph_x.tex -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/hyphenation_tables.xml -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/nohyphbx.tex -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/sehyph.tex -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/ukhyph.tex -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/ushyph.tex -text
Dotify/src/org/daisy/dotify/hyphenator/latex/rules/ushyphmax.tex -text
Dotify/src/org/daisy/dotify/input/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/ConfigUrlLocator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/DefaultConfigUrlResourceLocator.java -text
Dotify/src/org/daisy/dotify/setups/XMLInputManager.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/XMLInputManagerFactory.java -text
Dotify/src/org/daisy/dotify/setups/XMLInputManagerFactoryResourceLocator.java -text
Dotify/src/org/daisy/dotify/setups/common/CommonResourceLocator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/config/obfl/dtbook.properties -text
Dotify/src/org/daisy/dotify/setups/common/config/obfl/xml.properties -text
Dotify/src/org/daisy/dotify/setups/common/config/pef/xml.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/config/text/dtbook.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/config/text/xml.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/presets/A4_w32.xml -text
Dotify/src/org/daisy/dotify/setups/common/presets/FA44_w42.xml -text
Dotify/src/org/daisy/dotify/setups/common/presets/w50.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/validation/dtbook.sch -text
Dotify/src/org/daisy/dotify/setups/common/xslt/braille-finalizer.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/xslt/doc-files/dtb2obfl.xml -text
Dotify/src/org/daisy/dotify/setups/common/xslt/dtbook2obfl_base.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/xslt/dtbook2obfl_layout.xsl -text
Dotify/src/org/daisy/dotify/setups/common/xslt/dtbook2obfl_text.xsl -text
Dotify/src/org/daisy/dotify/setups/common/xslt/flow-whitespace-normalizer.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/xslt/meta-finalizer.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/xslt/simple-splitter.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/common/xslt/xml2flow.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/en_US/DefaultTextSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/en_US/EnglishTaskSystemFactory.java -text
Dotify/src/org/daisy/dotify/setups/en_US/doc-files/DefaultTextSystem.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/en_US/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/input_format_catalog.xml -text
Dotify/src/org/daisy/dotify/setups/localization_catalog.xml -text
Dotify/src/org/daisy/dotify/setups/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/presets_catalog.xml -text
Dotify/src/org/daisy/dotify/setups/sv_SE/SwedishBrailleSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/SwedishTaskSystemFactory.java -text
Dotify/src/org/daisy/dotify/setups/sv_SE/SwedishTextSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/config/obfl/dtbook.properties -text
Dotify/src/org/daisy/dotify/setups/sv_SE/config/pef/dtbook.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/config/text/dtbook.properties -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/doc-files/SwedishBrailleSystem.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/doc-files/SwedishTextSystem.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/presets/A4_w32.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/presets/A4_w35.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/presets/FA44_w42.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/presets/FA44_w43.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/presets/w50.xml -text
Dotify/src/org/daisy/dotify/setups/sv_SE/tasks/StaticVolumeCoverPage.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/tasks/SwedishVolumeCoverPage.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/tasks/VolumeCoverPage.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/tasks/VolumeCoverPageFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/tasks/VolumeCoverPageTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/validation/basic.sch -text
Dotify/src/org/daisy/dotify/setups/sv_SE/xslt/doc-files/dtb2obfl.xml -text
Dotify/src/org/daisy/dotify/setups/sv_SE/xslt/dtbook2flow.xsl -text
Dotify/src/org/daisy/dotify/setups/sv_SE/xslt/dtbook2flow_sv_SE.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/xslt/dtbook2flow_sv_SE_braille.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/setups/sv_SE/xslt/dtbook2flow_sv_SE_text.xsl -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/AbstractResourceLocator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/DebugTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/InputManager.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/InputManagerFactory.java -text
Dotify/src/org/daisy/dotify/system/InputManagerFactoryMaker.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/InternalTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/InternalTaskException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/LayoutEngineTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/ResourceLocator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/ResourceLocatorException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/RunParameters.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/SystemResourceLocator.java -text
Dotify/src/org/daisy/dotify/system/TaskSystem.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/TaskSystemException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/TaskSystemFactory.java -text
Dotify/src/org/daisy/dotify/system/TaskSystemFactoryException.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/TaskSystemFactoryMaker.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/TextNodeTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/ValidatorException.java -text
Dotify/src/org/daisy/dotify/system/ValidatorTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/XsltTask.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/system/resource-files/flow.xsd -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/CaseFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/CharFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/CombinationFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/FilterFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/FilterLocale.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/RegexFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/SplitResult.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/StringFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/StringSplitter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/TextNodeFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/text/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/tools/CompoundIterable.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/tools/CompoundIterator.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/tools/Progress.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/tools/StateObject.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/tools/StaxFilter2.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/tools/TextFileReader.java -text
Dotify/src/org/daisy/dotify/tools/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/translator/BrailleFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/translator/BrailleFilterFactory.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/translator/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/translator/sv_SE/CapitalizationMarkers.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/translator/sv_SE/SwedishBrailleFilter.java -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/translator/sv_SE/package.html -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/translator/sv_SE/sv_SE-pas1.xml -text svneol=unset#text/plain
Dotify/src/org/daisy/dotify/translator/sv_SE/sv_SE-pas2.xml -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/formatter/impl/EvenSizeVolumeSplitterCalculatorTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/formatter/utils/BreakPointHandlerTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/formatter/utils/ExpressionTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/formatter/utils/PositionTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/hyphenator/HyphenatorFactoryMakerTest.java -text
Dotify/tests/org/daisy/dotify/hyphenator/latex/LatexHyphenatorFactoryTest.java -text
Dotify/tests/org/daisy/dotify/setups/XMLInputManagerFactoryTest.java -text
Dotify/tests/org/daisy/dotify/system/InputManagerFactoryMakerTest.java -text
Dotify/tests/org/daisy/dotify/text/FilterLocaleTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/tools/StateObjectTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/translator/BrailleFilterFactoryTest.java -text svneol=unset#text/plain
Dotify/tests/org/daisy/dotify/translator/sv_SE/CapitalizationMarkersTest.java -text
Dotify/tests/org/daisy/dotify/translator/sv_SE/SwedishBrailleFilterTest.java -text
DotifyDevtools/.classpath -text
DotifyDevtools/.project -text
DotifyDevtools/.settings/org.eclipse.jdt.core.prefs -text
DotifyDevtools/lib/icu4j-3_8.jar -text
DotifyDevtools/src/org/daisy/dotify/devtools/CodePointUtility.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/GenerateTableEntries.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/SchematronRulesGenerator.java -text svneol=unset#text/plain
DotifyDevtools/src/org/daisy/dotify/devtools/converters/BrailleNotationConverter.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/converters/CodePointHelper.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/package.html -text
DotifyDevtools/src/org/daisy/dotify/devtools/views/BrailleConvertPanel.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/views/CodePointPanel.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/views/StringFormatterResult.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/views/TextChangedEvent.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/views/TextChangedListener.java -text
DotifyDevtools/src/org/daisy/dotify/devtools/views/TextConvertPanel.java -text
